<h1>Islands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @islands.each do |island| %>
      <tr>
        <td><%= link_to island.name, island_clients_path(island)%></td>
        <td><%= link_to 'Edit', edit_island_path(island) %></td>
        <td><%= link_to 'Destroy', island, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Island', new_island_path %>
