<div class="container">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @island.name %>
</p>
  <button type="button" class="btn text-right float-end" >
    <%= link_to 'Edit', edit_island_path(@island) %>
    </button>
    <button type="button" class="btn text-right float-end" >
      <%= link_to 'Back', islands_path %>
    </button>
  </div>