<form class="d-flex" role="search" style="width: 30%">
	<%= search_form_for @q do |f|%>
		<%= f.search_field :name_cont, placeholder: "Search", class:'form-control' %>&nbsp; 
		<%= f.submit "Search", class: 'btn btn-light' %>
	<% end %>
</form>