<div class="container">
	<h1>Edit Deep Well</h1>

	<%= render 'form', deep_well: @deep_well %>

	<div class="actions" style="float:right">
    	<%= link_to "Back", client_deep_well_path , class: 'btn btn-light' %>
  	</div>

  	<!-- island_client_path -->
  

</div>