<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Two Factor Authentication</h2>
      
    
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Confirmation of Two-Factor Authorization through Email
          </div>
          <div class="card-body">
            <p>Please confirm by entering your current password.</p>
            <%= simple_form_for(:two_fa, url: two_factor_settings_path, method: :post) do |f| %>
              <% if alert%>
                <div class="alert alert-danger alert-dismissible fade show container" role="alert" style="width: auto; height: auto;">
                    <%= alert %>
                  <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <% end %>
            <%= f.input :password, placeholder: "Password" %>
            <br> 
            <%= f.submit 'Confirm and Enable Two Factor', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>